<settings class="struct" size="1 1"><threshold class="double" size="1 1">-0.6500000000</threshold><boxCacheSize class="int" size="1 1">200</boxCacheSize><nmsLimit class="int" size="1 1">0</nmsLimit><nmsOverlap class="double" size="1 1">0.3000000000</nmsOverlap><interval class="int" size="1 1">5</interval><minlevel class="int" size="1 1">0</minlevel><maxlevel class="int" size="1 1">0</maxlevel><faceHeight class="int" size="1 1">100</faceHeight><findBuffer class="int" size="1 1">100</findBuffer><outputType class="int" size="1 1">4</outputType><version class="int" size="1 1">3</version></settings>
